# To run the ticket agents simultaneously they need different ports
# Ticket Agent also uses this .env to find the other agents if they are not registered with BeeAI Platform
TICKET_AGENT_PORT=10000
TICKET_TRIAGE_AGENT_PORT=10001
TICKET_RESPONSE_AGENT_PORT=10002

# Set USE_PLATFORM to true for Ticket Agent to discover the other agents using BeeAI Platform
# otherwise the Ticket Agent will access them using the ports configured above.
USE_PLATFORM=false

# Set your OpenAI API key here (for OpenAI) or just use any placeholder for ollama
OPENAI_API_KEY=placeholder

# If using ollama to run models locally:
PROVIDER_ID=ollama
MODEL_ID=granite3.3:8b
OPENAI_BASE_URL=http://localhost:11434/v1

# BeeAI logging
# Use WARNING for less logging, DEBUG for more.
BEEAI_LOG_LEVEL=INFO
